.about-me{
    background-image: url("../images/Home-Background.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }

.about-me div{
  flex: 1;
}

.about-me .buff{
  flex: .55;
}

.container-about-me{
  display: flex;
  flex-direction: row;
}

.container-about-me div{
  flex: 1;
}

.container-about-me .about-des{
  border-radius: 8px;
}

.about-description{
  border-width: 1.5px;
  border-color: rgb(0,0,0);
  color: rgb(0,0,0);
  border-radius: 1.5px;
  padding: 1.5px;
  background-color: rgba(255,255,255,0.5);
}

.about-me .contact-form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contact-form{
  margin-top: 10px;
}

.contact-form div{
  flex: 1;
  text-align: center;
}

.about-request{
  color: rgb(255,255,255);
}

.mail-img{
  color: white;
  margin-left: 8px;
}

.about-me div.buff{
  flex: .2;
  font-size: 20px;
  margin-bottom: 60px;
}

.container-about-me .about-des{
  flex: 2;
  text-align: left;
}

.about-des{
  display: flex;
  flex-direction: column;
  height: 65vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.about-des div{
  flex: 1;
}

.about-des-box{
  margin-bottom: 20px;
  border-radius: 6px;
  padding: 3px;
  background-color: rgba(255,255,255,0.4);
}