.about-me{
    background-image: url("../images/Home-Background.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }

.about-me div{
  flex: 1;
}

.about-me .buff{
  flex: .55;
}

.container-about-me{
  display: flex;
  flex-direction: row;
}

.container-about-me div{
  flex: 1;
}

.container-about-me .about-des{
  border-radius: 8px;
}

.about-description{
  border-width: 1.5px;
  border-color: rgb(0,0,0);
  color: rgb(0,0,0);
  border-radius: 1.5px;
  padding: 1.5px;
  background-color: rgba(255,255,255,0.5);
}

.about-me .contact-form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contact-form div{
  flex: 1;
  text-align: center;
}

.about-request{
  color: rgb(255,255,255);
}

.mail-img{
  color: white;
  margin-left: 8px;
}