.pro-pic{
    height: 225px;
    width: 150px;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.profile-pic .pro-pic{
    border-radius: 150px;
}

.home-title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255,255,255);
}

.home-picture{
    display: flex;
    color: rgb(255,255,255);
}

.home-title div{
    flex: 1;
}

.home-picture div{
    flex: .8;
}

.home-picture div{
    padding-top: 70px;
}

.home-picture .pic{

}

.home-picture .buff{
    flex: .75;
}

.home-picture .buff.left{
    flex: 1;
}

.name{
    background-color: rgb(51 65 85);
    border-radius: 4px;
    border-width: 1.5px;
    border-color: rgb(255,255,255);
    padding: 2px;
}

.change-margin-title{
    margin-left: 85px
}

.paragraph{
    background-color: rgb(51 65 85);
    border-radius: 4px;
    border-width: 2px;
    border-color: rgb(255,255,255);
    padding: 2px;
}

.image-holder{
    margin-top: 30px;
}

.image-holder:hover{
    height: 270px;
    width: 180px;
    filter: none;
    -webkit-filter: none;
}