.resume{
    background-image: url("../images/Home-Background.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.resume div{
    flex: 1;
    align-items: center;
    justify-content: center;
}

.resume .resume-d{
    flex: 2;
}

.resume-d{
    margin:4px, 4px;
    padding:4px;
    background-color: rgb(51 65 85);
    border-radius: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

@media screen and (max-width: 1010px){
    .resume div.resume-d{
        max-height: 400px;
        flex: 3
    }
}
