.skills{
    background-image: url("../images/Home-Background.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }

.skills div{
  flex: 1;
}

.skills div.buff{
  flex: .2;
  font-size: 20px;
}

.box-skills{
  display: flex;
  flex-direction: row;
}

.display-skills p{
  text-align: center;
}

.skill-type{
  color: rgb(255,255,255);
  font-size: 20px;
}

.display-skills .holder-skills{
  border-radius: 8px;
}

.names{
  background-color: rgb(51 65 85);
  border-radius: 6px;
  border-color: white;
  border-width: 2px;
}
