@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-clr{
  background-image: url("./images/Home-Background.jpg");
}

.home, .projects, .skills, .resume, .about-me{
  padding-top: 4px;
}

.menu-items:hover{
  color: rgb(27,18,31);
  border-bottom-width: 2px;
  border-bottom-color: rgb(27,18,31);
}

.home{
  background-image: url("./images/Home-Background.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1280px){
  .home, .projects, .skills, .resume, .about-me{
    margin-top: 55px;
    padding-top: 10px;
  }
  .bg-clr{
    background-image: none;
    background-color:rgba(175,225,234,0.3);
  }
  .menu-items:hover{
    color: rgb(27,18,31);
    border-left-width: 2px;
    border-left-color: rgb(27,18,31);
    border-bottom-color: none;
    border-bottom-width: 0;
  }
}