@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(255,255,255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-clr{
  position: relative;
  background-image: url("./images/Home-Background.jpg");
  background-color: rgba(0,0,0,0.5);
}

.nav-bar-pos{
  position: fixed;
}

.home, .projects, .skills, .resume, .about-me{
  padding-top: 75px;
  color: rgb(0,0,0)
}

.menu-items:hover{
  color: rgb(255,255,255);
  border-bottom-width: 2px;
  border-bottom-color: rgb(255,255,255);
}

.home{
  background-image: url("./images/Home-Background.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ovlay{
  background-image: none;
  background-color: rgba(0,0,0,0.8);
}

@media screen and (max-width: 1280px){
  .bg-clr{
    position: absolute;
  }
  .home, .projects, .skills, .resume, .about-me{
    position: relative;
    padding-top: 75px;
    color: white;
  }
  .menu-items:hover{
    border-left-width: 2px;
    border-left-color: rgb(255,255,255);
    border-bottom-color: none;
    border-bottom-width: 0;
  }
  .bg-mobile-clr{
    background-image: none;
    background-color: rgba(0,0,0,0.4);
  }
  .mobile-nav-down{
    margin-top: 56px;
  }
}